body {
	font-family: 'Roboto', sans-serif;
}

.night {
    background-color: #000;
    color: #878787;
}

.btn {
	color: #000;
	padding: 15px;
	border-radius: 25px;
	background-color: #FFF;
	border: 1px solid grey;
	outline: none;
}
.btn:hover {
	box-shadow: 2px 2px 25px #000;
}

.btn-night {
	color: #878787;
	padding: 15px;
	border-radius: 25px;
	background-color: #000;
	border: 1px solid grey;
	box-shadow: 5px 5px 10px #000;
}